/* UI */
html,body{
	margin: 0;
	background-image: linear-gradient(to bottom right,  rgb(161, 151, 92), rgb(216, 207, 158));
	height:100%;
	user-select: none;
}

.overlay {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;
}

.player {
	float: left;
	width: 33.3%;
	position: relative;
	z-index: 2;
}

.time {
	float: left;
	width: 33.3%;
	position: relative;
	top: 21px;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	color: rgb(233, 210, 181);
	background-image: linear-gradient(to bottom right, rgb(233, 162, 70), rgb(194, 126, 38));
	box-sizing: border-box;
	padding: 5px 10px;
	border: 4px solid rgb(126, 82, 25);
	border-radius: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	z-index: 2;
}

.game {
	float: left;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.action .grab {
	float: left;
	margin: 30px 0px;
	box-sizing: border-box;
	width: 33.3%;
	border: 4px solid rgb(100, 100, 66);
	border-radius: 30px;
	padding: 14px 28px;
	background-color: rgb(235, 235, 104);
	color: rgb(66, 66, 0);
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

.action .attack {
	float: left;
	margin: 30px 0px;
	box-sizing: border-box;
	width: 33.4%;
	border: 4px solid rgb(100, 66, 66);
	border-radius: 30px;
	padding: 14px 28px;
	background-image: linear-gradient(to bottom right, rgb(175, 50, 50), rgb(175, 100, 100));
	color: rgb(255, 225, 225);
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

.action .special {
	float: left;
	margin: 30px 0px;
	box-sizing: border-box;
	width: 33.3%;
	border: 4px solid rgb(66, 66, 66);
	border-radius: 30px;
	padding: 14px 28px;
	background-image: linear-gradient(to bottom right, rgb(50, 50, 50), rgb(100, 100, 100));
	color: rgb(190, 190, 190);
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

.top .jump {
	float: left;
	margin: 5px 0px;
	box-sizing: border-box;
	width: 100%;
	border: 4px solid rgb(66, 100, 66);
	border-radius: 30px;
	padding: 14px 28px;
	background-image: linear-gradient(to bottom right, rgb(50, 175, 50), rgb(100, 175, 100));
	color: rgb(225, 255, 225);
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

.top .jump:hover {
	background-image: linear-gradient(to bottom right, rgb(75, 175, 75), rgb(125, 175, 125));
	color: white;
	z-index: 3;
}

.middle .move {
	float: left;
	margin: 5px 0px;
	box-sizing: border-box;
	width: 45%;
	border: 4px solid rgb(66, 100, 66);
	border-radius: 30px;
	padding: 14px 28px;
	background-image: linear-gradient(to bottom right, rgb(50, 175, 50), rgb(100, 175, 100));
	color: rgb(225, 255, 225);
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

.middle .block {
	float: left;
	margin: 5px 0px;
	box-sizing: border-box;
	width:10%;
	border: 4px solid rgb(66, 66, 100);
	border-radius: 30px;
	padding: 14px 2px;
	background-image: linear-gradient(to bottom right, rgb(50, 50, 175), rgb(100, 100, 175));
	color: rgb(225, 225, 255);
	;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

.bottom .hop {
	float: left;
	margin: 5px 0px;
	box-sizing: border-box;
	width: 45%;
	border: 4px solid rgb(66, 100, 66);
	border-radius: 30px;
	padding: 14px 28px;
	background-image: linear-gradient(to bottom right, rgb(50, 175, 50), rgb(100, 175, 100));
	color: rgb(225, 255, 225);
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

.bottom .down {
	float: left;
	margin: 5px 0px;
	box-sizing: border-box;
	width: 10%;
	border: 4px solid rgb(66, 100, 66);
	border-radius: 30px;
	padding: 14px 2px;
	background-image: linear-gradient(to bottom right, rgb(50, 175, 50), rgb(100, 175, 100));
	color: rgb(225, 255, 225);
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	text-align: center;
	z-index: 3;
}

/* THREE.js */
body {
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}
